:root {
	--primary-bg-colour: #22252c;
	--secondary-bg-colour: #161a1d;
	--primary-text-colour: #ffffff;
	--secondary-text-colour: #bbbbbb;
	--highlight-colour: #80cdc4;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	color: var(--primary-text-colour);
}
