.navbar {
	/* Alignment */
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	gap: 8%;
	/* Sizing */
	width: 100%;
	padding: 20px;
	/* Styling */
	list-style: none;
	background-color: var(--secondary-bg-colour);
}

.link {
	cursor: pointer;
	padding: 3px 15px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s, transform 0.5s;
}

.link:hover {
	border-bottom: 2px solid var(--highlight-colour);
	transform: scale(1.1);
}
